body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #22333b;
    color: #eae0d5;
    font-family: 'Roboto Condensed', sans-serif;
}

.backgroundDiv {
    margin: auto;
    margin-top: 50px;
    background-color: #0000004d;
    width: 600px;
    height: 800px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

h1 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    padding: 20px;
}

/* GAME GRID */
#container {
    margin: auto;
    height: 500px;
    width: 500px;
    display: grid;
    border: solid 10px #5e503f;
}

.gridCell {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* RESET BUTTON */
.buttons {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
    width: 520px;
    /* border: 1px solid #5e503f; */
}

.gridSizeButton>button {
    background-color: #c6ac8f;
    color: beige;
    font-weight: bolder;
    padding: 10px 30px;
    border: 1px solid #c6ac8f;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.gridSizeButton>button:hover {
    border: 1px solid red;
    transition: 300ms;
}

#buttonReset {
    background-color: red;
    color: beige;
    font-weight: bolder;
    padding: 10px 30px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

#buttonReset:hover {
    background-color: #c6ac8f;
    color: red;
    cursor: pointer;
    transition: 300ms;
}

/* INPUT FIELD */

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* GITHUB ICON */
.gitHub {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon {
    color: #c6ac8f;
}

.icon:hover {
    stroke: #eae0d5;
    transform: rotate(3.142rad);
    transition: 300ms;
}